@media (max-width: 1200px) {
	.container {
		width: 960px;
	}
	.block {
		width: 300px;
	}
	.price-block {
		width: 300px;
	}
	.description-tab-form {
		width: 400px;
	}
	.links{
		width: 550px;
	}
}

@media (max-width: 1024px) {
	.container {
		width: 720px;
	}
	.custom-filling .cblock:last-child {
		display: none;
	}
	.contact_form {
		flex-direction: column;
	}
	.contact_form1 {
		margin-right: 0;
		width: 100%;
	}
	.contact_form2 {
		width: 100%;
	}
	.price-block {
		width: 230px;
	}
	.tab-pic {
		display: none;
	}
	.social{
		width: 300px;
	}
	.links{
		width: 400px;

	}
	
	
	
}

@media (max-width: 900px) {
	.container {
		width: 540px;
	}
	.social{
		align-items: center;
		justify-content: center;
		width: 100%;
	}
	.social_media{
		flex-direction: column;
		
	}

	.description-tab-form {
		margin-left: 130px;
	}
	.social_name{
		display: flex;
		justify-content: center;
	}
	.description_text_social{
		
		text-align: center;
	}
	.links {
		display: flex;
		justify-content: space-between;
		padding-bottom: 20px;
	    height: 22px;
		width: 252px;
	}
	
	.links_item {
		display: inline-block;
		width: 11px;
		height: 22px;
		align-items: center;
		background-image: url(../img/social-ic.png);
		background-repeat: no-repeat;
		background-position: 0px 0;
		background-size: 300px;
		opacity: 0.5;
		
	}
	
	.links_item:hover {
		opacity: 0.9;
	}
	
	.icon-2 {
		width: 21px;
		height: 22px;
		background-position: -41px 0;
	}
	
	.icon-3 {
		width: 21px;
		height: 22px;
		
		background-position: -90px 0;
	}
	
	.icon-4 {
		width: 21px;
		height: 22px;
		
		background-position: -133px 0;
	}
	
	.icon-5 {
		width: 21px;
		height: 22px;
		
		background-position: -181px 0;
	}
	
	.icon-6 {
		width: 25px;
		height: 22px;
		
		background-position: -229px 0;
	}
	
	.icon-7 {
		width: 21px;
		height: 22px;
		
		background-position: -281px 0;
	}
	.custom-filling .cblock:first-child {
		display: none;
	}
	.cblock{
		width: 100%;
	}
	.custom-text{
		width: 100%;
		text-align: center;
	}
	.price-block{
		width: 30%;
	}
	
}

@media (max-width: 576px) {
	.container {
		width: 500px;
		padding: 0 12px;
	}

	.top_container{
		flex-direction: column;
	}
	.description{
		width: 100%;
	}
	.top-form{
		width: 100%;
		margin: 30px 0 30px ;
	}
	.burger{
		display: block;
		width: 30px;
		height: 30px;
		position: relative;
	}
	.burger.cross .burger_line{
		display: none;
	}
	.burger:before, .burger:after{
		content: "";
	}
	
	.burger:before{
		top: 0;
	}
	.burger:after{
		bottom: 0;
	
	}
	.burger.cross:before{
		transform: rotateZ(45deg);
		top: 50%;
	}
	.burger.cross:after{
		transform: rotateZ(-45deg);
		top: 50%;
	}
	.burger_line{
		top: 50%;
		transform: rotateY(-50%);
		

	}
	.burger_line, .burger:before, .burger:after{
		height: 2px;
		width: 100%;
		position: absolute;
		background-color: white;
		transition: .3s;
		
	}

	.menu{
		position: fixed;
		top: 0;
		left: 0;
		flex-direction: column;
		height: 100vh;
		width: 200px;
		background-color: black;
		padding: 100px;
		box-sizing: border-box;
		padding: 75px 0 0 75px;
		transform: translateX(-100%);
		transition: .3s;

	}
	.menu.visible{
		transform: translateX(0);
		transition: .3s;
		
	}
	.bg{
		background-color: black;
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		opacity: 0.5;
		z-index: 998;
		display: none;
	}
	.bg.visible{
		display: block

	}
	.top_container{
		width: 100%;
	}
	.description_text{
		width: 400px;
		left: 0;
	}
	.social{
		width: 100%
	}
	.description-tab-form{
		top: 170px;
	    width: 340px;
	}
	
	.filling{
		flex-direction: column;
		align-items: center;
	}
	.price-filling{
		flex-direction: column;
		align-items: center;

	}
	.price-block{
		width: 100%;
		margin: 20px 0;
	}
	.img{
		margin-bottom: 20px;
	}

	.block{
		margin-bottom: 20px;
	}



}
@media (max-width: 500px) {
	.container {
		width: 425px;
		padding: 0 12px;
	}
	.tabs{
		padding-top: 0;
		padding-bottom: 0;
		height: 400px;
	}
	.tab-checkbox{
		height: 20px;
		width: 110px;
		
	}
	.tab-part{
		margin-top: 0px;
	}
	.tab-form{
		
		margin-top: 30px;
		flex-direction: row;
		justify-content: space-between;
		height: 20px;
        width: 100%;
	}
	.description-tab-form{
		
		margin: 50px 0;
		width: 100%;
		align-items: center;
	}
	

	.description{
		width: 100%;
	}
	.descriptions-tab-form-text{
		width: 100%;
		align-items: center;
	}
	.description-tab-form-text{
		width: 100%;;
	}
	.description-tab-text{
		width: 100%;
		padding-top: 0;
		align-items: center;
		text-align: center;
	}
	
}
@media (max-width: 420px) {
	.container {
		width: 360px;
		padding: 0 6px;
	}
}